.content {
    margin-top: 50px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
/**********************************/
/*          CUSTOM CSS            */
/**********************************/

.fyn {} .view {
    background-color: black;
}
.header {
    position: fixed;
    color: white;
}
.replies {
    border: 1px solid #ccc;
}
.round {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgba(10, 10, 10, 0.3);
}
.button {
    color: white;
    height: 20px;
    margin-top: 10px;
}
.recent li {
    list-style: none;
    display: inline-block;
    width: 30%;
    background-color: rgba(0, 0, 255, 0.2);
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 4px 4px 2px black;
}
.cr8 {
    width: 50%;
    margin-left: 25%;
    /*background: rgba(0, 0, 0, 0.4);*/
}
.cr8 h1 {
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: skyblue;
}
.top-nav-bar {
    background-color: #000;
    border: 1px solid black;
}
.mainContent {
    background: url(/modules/core/img/brand/18.jpg) center center/cover no-repeat fixed rgba(100,100,100,1);
}
.viewTicket {
    color: white;
    width: 50%;
    height: 40%;
    border: 2px solid green;
    background: rgba(0, 0, 0, 0.4);
    margin-left: 30%;
    margin-bottom: 10%;
    /*float: right;*/
}
.commentsColor {
    color: white;
}
small span {
    margin-left: 2%;
}
.ticket-details {
    text-align: center;
}
.comment-box {
    margin-top: -10%;
    position: relative;
}
/*.ticket{
    width:25%;#
    display: inline-block;
}*/
/* BEGIN 
            ng-Animate on all ng-repeat elements
*/

.repeated-item.ng-enter, .repeated-item.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}
.repeated-item.ng-enter.ng-enter-active, .repeated-item.ng-move.ng-move-active {
    opacity: 1;
}
.repeated-item.ng-leave {
    -webkit-animation: 0.5s my_animation;
    -moz-animation: 0.5s my_animation;
    -o-animation: 0.5s my_animation;
    animation: 0.5s my_animation;
}
@keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*  END
        ng-Animate on all ng-repeat elements
*/


