<section data-ng-controller="TicketcategoriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="ticketcategory.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == ticketcategory.user._id">
		<a class="btn btn-primary" href="/#!/ticketcategories/{{ticketcategory._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="ticketcategory.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="ticketcategory.user.displayName"></span>
		</em>
	</small>
	<div class="row">
	<div class="col-md-4 repeated-item">
	<div class="list-group" ng-repeat="ticket in ticketcategory.tickets">
		<a href="#!/tickets/{{ticket._id}}" class="list-group-item ticket">
			<br>{{ticket.name}}
		<br>{{ticket.description}}

		
	<small>
		<em class="text-muted">
			<br>Posted on {{ticket.created | date:'mediumDate'}}
			<br>Due on {{ticket.due | date:'mediumDate'}}
		</em>
	</small>
	</a>
	</div>
</div>
</div>
	
</section>